hmtl {
    font-size: 18px ;
}    

body {
    background-color: #aad4cf;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* wraps around all the information(is the main parent) */
.wrapper {
    background-color:lightcyan;
    margin: 0px 100px 10px 100px;
    padding-bottom: 10px;
}

header {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-position: center;
    text-align: center;
    color: white;
    padding: 60px;
}

article h2 {
    margin-left: 10px;
}

p {
    font-size: 12px;
    margin: 0px 20px 20px 10px;
}
/* targets the image of starfish */
.image {
    float: left;
    padding: 0px 15px 20px 10px ;
}

section h3 {
    margin-left: 10px;
}
/* unordered list of facts */
ul {
    font-size: 12px;
    list-style-type: disc;
    /* margin: 0; */
    padding-left: 30px;
}
/* targets all the "contact to learn more", including heading */
.contact {
    margin: 0px 10px 30px 10px;
    padding-bottom: 50px;
}
/* targets all the "contact to learn more" forms  */
.forms {
    border: 2px solid black;
    padding: 10px;
}

label {
    display: block;
}

footer {
    float: right;
}