hmtl {
    font-size: 16px;
}

body {
    background-color: #aad4cf;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-size: auto;
    background-position: center;
    text-align: center;
    color: white;
    
}

p {
    font-size: 0.8em;
}

.image {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

