hmtl {
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}    

body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* wrapper centers and adds color to background */
.wrapper {
    background-color:lightcyan;
    margin: 0px 150px 0px 150px;
}

/* makes the heading a set image (without repeating) and adjusts size */
header {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 100px;
    /* in the mockup, there's a black line on the left of the image. Either that's in there by mistake, or as a test to see how close we get to pixel perfect. So i added it */
    border-left: 1px solid black;
}

/* posistions h1 and makes text larger */
header h1 {
    margin: 0;
    font-size: 3rem;
    padding-top: 100px;
}

/* targets the whole nav element */
.navbar {
    overflow: hidden;
}

/* targets the all nav list items */
.container {
    padding: 0px 190px;
    margin: 0 auto;
    max-width: 1200px;
}

/* targets and styles the navigation buttons centered and in a row */
.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    list-style: none;
}

/* adjusts space */
nav ul li {
    margin: 0 50px;
    padding: 0px 50px;
}

/* styles buttons */
nav ul li a {
    /* removes underlines and bullets */
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/* adjusts space some more, but also adds a line in between first 2 buttons */
nav ul li:nth-child(1) {
    /* border-right: 1px solid black; */
    /* padding: 10px 40px; */
}

/* same idea but for in between the second and third button */
nav ul li:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px 100px;
}

/* to accomadate for all the moving i did for the other buttons */
nav ul li:nth-child(3) {
    /* padding: 10px 40px; */
}

/* arranges the headings and sets a size based on the default I set (16px) */
.info h2 {
    margin: 10px 10px;
    font-size: 2rem;
}

/* adds what i think is the right amount of space on the paragraph edge */
.info p {
    margin: 0 20px 0 10px;
}

/* targets the image of starfish and lets the paragrapg wrap around it when window shrinks*/
.image {
    float: left;
    padding: 0px 15px 20px 10px ;
}

/* positions unordered list of facts, and puts round bullets instead of square  */
.facts {
    list-style-type: disc;
    margin-top: 50px;
    padding-top: 15px;
}

/* arranges the headings and sets a size based on the default I set (16px) */
.facts h2, .contact h3 {
    margin: 10px 10px;
    font-size: 1.5rem;
}

/* shifts list items in line with the image and headings */
.facts li {
    margin-left: -15px;
}

/* shifts the heading to be in line with image and other headings */
.contact h3 {
    margin-left: 0;
}

/* shrinks the physical box that contact forms are in */
.contact {
    margin: 30px 10px 0 10px;
}

/* shrinks the text areas to fit in box */
.forms {
    /* creates box */
    border: 2px solid black;
    padding: 30px 20px 20px 20px;
}

/* makes the text box fit the whole area and spaces them apart */
.forms form:nth-child(1) input { 
    width: 100%;
    margin: 10px 0;
}

/* increases only the message text area */
.message input{
    padding: 30px 2px;
}

/* slightly increases question above radio buttons */
.forms form:nth-child(2) p {
    font-size: 18px;
    margin-top: 0;
}

/* adds the space around the radio buttons */
.radio {
    padding: 0 50px 20px 0px;
}

/* takes away button color, removes the underline, and makes button bigger */
button {
    text-decoration: none;
    background-color: transparent;
    padding: 15px 10px;
}


footer {
    /* puts the footer on the right side instead */
    text-align: end;
}

/* adds what I think is the right spacing around the footer */
footer p {
    padding: 20px 25px 40px 0px;
}